.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
  height: 100vh;        
  text-align: center;
  gap: 10px;  
  font-weight: bold;             
}
